@import "tailwindcss";

:root {
  --background: #f8c0ff;
  --foreground: #171717;
  --primary: #da2978;
  --primary-dark: #be185d;
  --primary-light: #e476af;
  --container-background: #fce7f3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-container-background: var(--container-background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #f586bf;
    --primary-dark: #be185d;
    --primary-light: #f9a2d1;
    --container-background: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}


@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.heart {
  animation: heartbeat 1s infinite;
  color: red;
  font-size: 20px;
}
